@font-face {
  font-family: 'Vazir';
  src: local('Vazir'),
       url('./fonts/Vazirmatn-Black.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Vazir';
  src: local('Vazir'),
       url('./fonts/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Vazir';
  src: local('Vazir'),
       url('./fonts/Vazirmatn-SemiBold.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Vazir';
  src: local('Vazir'),
       url('./fonts/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Vazir';
  src: local('Vazir'),
       url('./fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Vazir';
  src: local('Vazir'),
       url('./fonts/Vazirmatn-Light.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'Vazir';
  src: local('Vazir'),
       url('./fonts/Vazirmatn-ExtraLight.woff2') format('woff2');
  font-weight: 200;
}
@font-face {
  font-family: 'Vazir';
  src: local('Vazir'),
       url('./fonts/Vazirmatn-Thin.woff2') format('woff2');
  font-weight: 200;
}

body {
  margin: 0;
  font-family: 'Vazir',sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label{
  font-family: 'Vazir',sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
